# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Stellar Configuration
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
